<% layout("/layouts/boilerplate.ejs")%>
 
<script>
    const mapToken = "<%= process.env.MAP_TOKEN%>";
    const coordinates = <%-JSON.stringify(list.geometry.coordinates)%>;
    const title = <%-JSON.stringify(list.title)%>;
</script>

<div class="show-page">
    
    <div class="row">
       <div class="col-8 offset-3 mt-3">
        <h3><%=list.title%></h3>
       </div>
       <div class="col-6 offset-3">
       <img class="show-img" src="<%=list.img.url%>" alt="/img">

        <div class="body mt-3">
            <p>Owned by <i><%=list.owner.username%></i></p>
            <p><%=list.description%></p>
            <p><%=list.price.toLocaleString("en-IN")%></p>
            <p><%=list.location%></p>
            <p><%=list.country%></p>
        </div>

        <%if( user && user._id.equals(list.owner._id)){%> 
          <div class="show-btns mt-3">
                <div >
                    <form method="GET" action="/listings/<%=list._id%>/edit">
                        <button class="btn btn-dark ">Edit</button>
                    </form>
                </div>
                <div class="offset-1">
                    <form method="POST" action="/listings/<%=list._id%>?_method=DELETE">
                        <button class="btn btn-dark add-btn">Delete</button>
                    </form>
                </div>    
            </div>
        <%}%>
    </div>
       
       <%if(user){%>
        <div class="review col-6 offset-3 mt-5 mb-5">
            <hr>
            <h4>Leave a Review</h4>
            <form method="POST" action="/listings/<%=list._id%>/reviews" class="needs-validation" novalidate> 
                <div class=" mt-3">
                    <label for="rating" class="form-label">Rating</label>
                  <fieldset class="starability-slot">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please Comment Something</div>
                </div>      
                <button class="btn btn-dark mt-3">Add Review</button>
            </form>
            </div>
       <%}%>
       <hr>
       
       <%if(list.reviews.length>0){%>
        <div class="all-reviews col-6 offset-3 mt-3">
                <p><b>All Reviews</b></p>
            <br>
            <div class="row review-row-cols">
                <%for(review of list.reviews){%>
                    <div class="card col-5 ms-3 mb-3 ">
                       <div class="card-body">
                           <h5 class="card-title">@<%=review.author.username%></h5>
                           <%if(review.rating===1){%>
                            <h6>&starf;</h6>
                           <%}%>
                           <%if(review.rating===2){%>
                            <h6>&starf;&starf;</h6>
                           <%}%>
                           <%if(review.rating===3){%>
                            <h6>&starf;&starf;&starf;</h6>
                           <%}%>
                           <%if(review.rating===4){%>
                            <h6>&starf;&starf;&starf;&starf;</h6>
                           <%}%>
                           <%if(review.rating===5){%>
                            <h6>&starf;&starf;&starf;&starf;&starf;</h6>
                           <%}%>
                           <p class="card-text"><%=review.comment%></p>                      
                           <form method="POST" action="/listings/<%=list._id%>/reviews/<%=review._id%>?_method=DELETE" class="mb-3">
                            <%if(user && user._id.equals(review.author._id)){%>
                                <button class="btn btn-sm btn-dark">Delete</button>
                            <%}%>
                            </form>
                       </div>
                    </div>
                  <%}%>
            </div>     

            <div class="review-box">
                <%for(review of list.reviews){%>
                    <div class="review-card card">
                       <div class="card-body">
                           <h5 class="card-title">@<%=review.author.username%></h5>
                           <%if(review.rating===1){%>
                            <h6>&starf;</h6>
                           <%}%>
                           <%if(review.rating===2){%>
                            <h6>&starf;&starf;</h6>
                           <%}%>
                           <%if(review.rating===3){%>
                            <h6>&starf;&starf;&starf;</h6>
                           <%}%>
                           <%if(review.rating===4){%>
                            <h6>&starf;&starf;&starf;&starf;</h6>
                           <%}%>
                           <%if(review.rating===5){%>
                            <h6>&starf;&starf;&starf;&starf;&starf;</h6>
                           <%}%>
                           <p class="card-text"><%=review.comment%></p>                      
                           <form method="POST" action="/listings/<%=list._id%>/reviews/<%=review._id%>?_method=DELETE" class="mb-3">
                            <%if(user && user._id.equals(review.author._id)){%>
                                <button class="btn btn-sm btn-dark">Delete</button>
                            <%}%>
                            </form>
                       </div>
                    </div>
                  <%}%>
            </div>
        </div> 
        <%}%>
        
        <div class="col-6 offset-3 mt-3">
            <h3>Where you'll be</h3>
            <div id="map"></div>
        </div>

    </div>
</div>

<script src="/map.js"></script>




